.navbar {
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 1;
	list-style: none;
	text-decoration: none;
}

.navbar ul {
	width: 100%;
	display: flex;
	list-style: none;
	text-decoration: none;
	border: solid orange;
}

.navbar li {
	list-style: none;
	text-decoration: none;
	margin: 0 20px;
}
