.container-signup {
	width: 80%;
	margin-top: 50px;
}

/* .allform h2 {
	margin-left: 150px;
} */

.container-signup {
	display: flex;
	flex-direction: column;
	margin: 70px auto;
}

.container-signup p {
	margin-top: 20px;
}

.signup {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.input-radio {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

.label-radio {
	padding-right: 10px;
}

.labeltexto {
	padding: 10px 0;
}

.signup input,
label,
select {
	margin: 5px 0;
}

input[type=submit] {
	color: black;
	background-color: whitesmoke;
	font-style: italic;
	border-radius: 4px;
	border: 1px solid gray;
	width: 150px;
	margin: 35px 0;
	padding: 5px;
	height: 25px;
	border-radius: 10px;
}

input[type=text],
input[type=password] {
	color: black;
	background-color: whitesmoke;
	font-style: italic;
	border-radius: 4px;
	border: 1px solid gray;
	width: 150px;
	margin: 5px 0;
	padding: 5px;
	height: 25px;
	border-radius: 10px;
}
