/* @import '/path/to/reset-css/reset.css'; */

html {
	height: 2000px;
}

.home-user {
	width: 100%;
}

/* .imagehome {
	width: 500px;
	height: 300px;
	object-fit: cover;
} */

.container-navbar {
	position: fixed;
	z-index: 1;
	top: 0;
	background-color: whitesmoke;
	width: 100%;
	margin: auto;
}

nav {
	display: flex;
	justify-content: space-around;
	font-size: 15px;
	width: 100%;
	color: whitesmoke;
	padding: 10px;
}
.logo {
	height: 20px;
}
nav > div {
	padding: 4px 6px;
	background-color: rgb(41, 35, 29);
	max-width: 40%;
}

.links {
	color: whitesmoke;
}

.container-orders {
	padding: 0px;
	display: flex;
	flex-direction: column;
	margin: 0px;
}

.container-signup {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.form-signup {
	display: flex;
	flex-direction: column;
	width: 80%;

	color: whitesmoke;
	margin: auto;
}
.container-links {
	background-color: rgb(41, 35, 29);
	display: inline-block;
	padding: 4px 6px;
	margin: 0 8px;
}

.inputs {
	border-bottom: solid 1px;
	border-top: solid 1px;
	border-color: whitesmoke;
	padding: 10px;
	margin: 5px 0;
	background-color: rgb(41, 35, 29);
}
.labeltexto {
	margin: 5px 20px;
}

.signupquestion {
	margin: 20px auto;
}
input [type=submit] {
	color: rgb(41, 35, 29);
	background-color: whitesmoke;
}

.container-album {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 80px;
}

.container-image {
	padding: 4px;
}

.image {
	width: 400px;
	height: 300px;
	object-fit: cover;
	max-width: 100vw;
}

@media (max-width: 600px) {
	.image {
		width: 200px;
		height: 150px;
		object-fit: cover;
		max-width: 100vw;
	}
	.searchbar {
		width: 40%;
	}

	.each-album h2 {
		font-size: 18px;
	}

	.each-album h3 {
		font-size: 14px;
	}

	.each-album p {
		font-size: 12px;
	}
	.navbar {
		font-size: 10px;
	}
}

@media (max-width: 400px) {
	.navbar {
		display: none;
	}
}

.bottom-album {
	position: fixed;
	bottom: 0;
	background-color: rgba(245, 245, 245, 0.52);
	color: whitesmoke;
	width: 100%;
}

.searchbar-and-checkbox {
	display: flex;
	padding: 10px;
	justify-content: space-around;
	border: solid 1px whitesmoke;
}

.searchbar {
	width: 60%;
}

.searchbar input {
	width: 90%;
	border: solid whitesmoke 3px;
}

.searchbar::placeholder {
	color: black;
	margin-left: 10px;
}

.checkbox {
	width: 35%;
	background-color: black;
	padding: 5px;
	border: solid white;
}

.two-buttons {
	display: flex;
	padding: 10px;
	justify-content: space-around;
	border: solid 1px whitesmoke;
}

input[type=checkbox]:checked + label {
	color: rgb(226, 95, 63);
	font-style: normal;
	box-shadow: 0 0 0 3px rgb(226, 95, 63);
}

input[type=checkbox] + label {
	color: whitesmoke;
	margin: 0 4px;
}

.albums-list {
	padding-top: 90px;
}

.each-album {
	background: white;
	width: 80%;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	padding: 5px;
	margin: 15px auto;
	color: black;
}

.linkaddphoto {
	color: whitesmoke;
	padding: 6px;
}

.fixedbutton {
	position: fixed;
	bottom: 10vh;
	left: 40vw;
	z-index: 4;
	background-color: black;
	padding: 5px;
	border: solid whitesmoke;
}

/* ALBUM DETAIL */
.titleanddescription {
	border: solid yellow;
	margin: 100px;
	padding: 20px;
}
