.button-send {
	background-color: black;
	color: whitesmoke;
}

.myalbumslink {
	border: whitesmoke solid 1px;
}

input[type=submit] {
	color: black;
	background-color: whitesmoke;

	border: 1px solid whitesmoke;
	width: 60px;
	margin: 2px;
	font-size: 8px;
	height: 20px;
}
